* {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #252422;
}

body {
    background-color: #ccc5b9;
    margin: 1em 0 0 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul > li {
    list-style: none;
    display: inline-block;
}

nav ul > li > a.page-selection-link {
    display: inline-block;
    text-decoration: none;
    padding: 0.5em;
    background-color: #252422;
    color: #fffcf2;
    border-radius: 0.5em;
}

nav ul > li > a.page-selection-link:hover {
    background-color: #403d39;
    color: #ccc5b9;
}

div#wrapper {
    position: fixed;
    width: 60%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

nav#nav-bar {
    padding-top: 1em;
}

nav#outer-nav-bar {
    padding-top: 0.5em;
}

header#header > div#heading {
    padding-bottom: 1em;
    border-bottom: 0.5px solid #403d39;
}

header#header > div#heading > h1 {
    margin: 0;
}

header#header > div#heading > p {
    color: #403d39;
    margin: 0;
}

div#wrapper > div#content {
    width: 100%;
    height: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
}

div#wrapper > footer#footer {
    border-top: 0.5px solid #403d39;
}

.hidden {
    display: none;
}

div.section {
    width: 100%;
    height: 100%;
}

div.grid-layout {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 100%;
    gap: 0.5em;
}

div.grid-layout > div.grid-item {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #252422;
}

div.grid-layout > div.grid-item.empty::before {
    position: relative;
    display: inline-block;
    content: "Soon...";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.grid-layout > div.grid-item.empty {
    background-color: #ccc5b9;
    border: 1px solid #252422;
}

@media (max-width: 500px) {
    html, body {
        height: 100%;
    }

    body {
        padding: 1em;
        margin: 0;
    }

    div#wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        left: 0;
        transform: translate(0, 0);
    }

    div.grid-layout {
        grid-template-columns: auto auto;
    }
}